* {
  font-family: 'roboto';
  color: #ffffff;
}

.bgContainer {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
}

.navbarContainer {
  background-color: #2c0e3a;
  width: 100%;
}

.logoImg {
  width: 100px;
}
.timerIcon {
  width: 20px;
  height: 20px;
}

.navbarContainer p,
span {
  font-size: 13px;
}
.score-details div {
  height: 40px;
  margin-right: 10px;
}

.showImage {
  width: 100%;
}
.listItem {
  width: 18vw;
  margin: 5px;
}
.ulList {
  list-style-type: none;
  padding: 0px;
}
.tabButton {
  outline: none;
  box-shadow: none;
  border: none;
}
.gameOverMode {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 30px;
}
.gameOverMode h1 {
  font-size: 25px;
}
.trophyImg {
  width: 50%;
}
@media (min-width: 768px) {
  .gameOverMode h1 {
    font-size: 35px;
  }
  .gameOverMode {
    width: 50%;
    padding-top: 90px;
  }
  .listItem {
    width: 15vw;
    margin: 5px;
  }
  .showImage {
    width: 65%;
  }
  .bottomContainer {
    width: 65%;
  }
  .navbarContainer {
    padding: 25px;
  }
  .logoImg {
    width: 200px;
  }
  .timerIcon {
    width: 30px;
    height: 30px;
  }
  .navbarContainer p,
  span {
    font-size: 20px;
  }
  .navbarContainer p,
  span {
    font-size: 20px;
  }
}
